<table>
    <tr>
        <td>客戶ID</td>
        <td>
            <input type="text" name="CustomerID">
        </td>
    </tr>
    <tr>
        <td>公司名稱</td>
        <td>
            <input type="text" name="CompanyName">
        </td>
    </tr>
    <tr>
        <td>聯絡人</td>
        <td>
            <input type="text" name="ContactName">
        </td>
    </tr>
    <tr>
        <td>聯絡人職稱</td>
        <td>
            <input type="text" name="ContactTitle">
        </td>
    </tr>
    <tr>
        <td>地址</td>
        <td>
            <input type="text" name="Address">
        </td>
    </tr>
    <tr>
        <td>城市</td>
        <td>
            <input type="text" name="City">
        </td>
    </tr>
    <tr>
        <td>地區</td>
        <td>
            <input type="text" name="Region">
        </td>
    </tr>
    <tr>
        <td>郵遞區號</td>
        <td>
            <input type="text" name="PostalCode">
        </td>
    </tr>
    <tr>
        <td>國家</td>
        <td>
            <input type="text" name="Country">
        </td>
    </tr>
    <tr>
        <td>電話</td>
        <td>
            <input type="text" name="Phone">
        </td>
    </tr>
    <tr>
        <td>傳真</td>
        <td>
            <input type="text" name="Fax">
        </td>
    </tr>
</table>
<button name="AddSend">送出</button>
<script src="~/Scripts/WorksAdd.js"></script>